<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('type', default: "Type") %></strong>
  <%= PipeType.find(@pipe_store_output.pipe_type_id).name %>
</p>

<p>
  <strong><%= t('amount-m', default: "Amount (m)") %></strong>
  <%= @pipe_store_output.amount %>
</p>

<p>
  <strong><%= t('user', default: "User") %></strong>
  <%= User.find(@pipe_store_output.user_id).name %>
</p>

<%= link_to 'Edit', edit_pipe_store_output_path(@pipe_store_output) %> |
<%= link_to 'Back', pipe_store_outputs_path %>
