<p id="notice"><%= notice %></p>

<p>
  <strong>Pipe type:</strong>
  <%= @pipe_store_output.pipe_type_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @pipe_store_output.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @pipe_store_output.user_id %>
</p>

<%= link_to 'Edit', edit_pipe_store_output_path(@pipe_store_output) %> |
<%= link_to 'Back', pipe_store_outputs_path %>
