<p id="notice"><%= notice %></p>

<h1><%= t('washer_inputs') %></h1>

<%= link_to t('new_record'), new_washer_input_path %>

<table class='styled-table'>
  <thead>
    <tr>
      <th><%= t('type') %></th>
      <th><%= t('amount') %></th>
      <th><%= t('date') %></th>
      <th><%= t('user') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @washer_inputs.each do |washer_input| %>
      <tr>
        <td><%= WasherType.find(washer_input.washer_type_id).name %></td>
        <td><%= washer_input.amount %></td>
        <td><%= washer_input.created_at.to_date.to_pdate %></td>
        <td><%= User.find(washer_input.user_id).name %></td>
        <td><%= link_to 'Show', washer_input %></td>
        <td><%= link_to 'Edit', edit_washer_input_path(washer_input) %></td>
        <td><%= link_to 'Destroy', washer_input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


