<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('type') %>:</strong>
  <%= WasherType.find(@washer_input.washer_type_id).name %>
</p>

<p>
  <strong><%= t('count') %>:</strong>
  <%= @washer_input.amount %>
</p>

<p>
  <strong><%= t('user') %>:</strong>
  <%= User.find(@washer_input.user_id).name %>
</p>

<%= link_to t('edit'), edit_washer_input_path(@washer_input) %> |
<%= link_to t('back'), washer_inputs_path %>
