<%= form_with(model: raw_material_to_production_input) do |form| %>
  <% if raw_material_to_production_input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(raw_material_to_production_input.errors.count, "error") %> prohibited this raw_material_to_production_input from being saved:</h2>

      <ul>
        <% raw_material_to_production_input.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('type', default: 'Type') %>
    <%= form.collection_select :raw_material_type_id, RawMaterialType.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label t('production_raw_store') %>
    <%= form.collection_select :production_raw_store_id, ProductionRawStore.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label t('kg') %>
    <%= form.text_field :amount %>
  </div>

  <div class="field" style="display: none;">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit t('record') %>
  </div>
<% end %>





