<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('type') %>:</strong>
  <%= RawMaterialType.find(@raw_material_to_production_input.raw_material_type_id).name %>
</p>

<p>
  <strong><%= t('amount') %>:</strong>
  <%= @raw_material_to_production_input.amount %>
</p>

<p>
  <strong><%= t('user') %>:</strong>
  <%= User.find(@raw_material_to_production_input.user_id).name %>
</p>

<%= link_to 'Edit', edit_raw_material_to_production_input_path(@raw_material_to_production_input) %> |
<%= link_to 'Back', raw_material_to_production_inputs_path %>
