<h1><%= t('pipe_store', default: "Pipe Store") %></h1>

<table class="styled-table">
  <thead>
    <tr>
      <th><%= t('type', default: "Pipe Type") %></th>
      <th><%= t('amount', default: "Amount")  %> (<%= t('meter', default:"meter") %>)</th>
    </tr>
  </thead>

  <tbody>
    <% @pipe_types.each do |pipe_type| %>
      <tr>
        <td><%= pipe_type.name %></td>
        <td><%= PipeStoreInput.sum_amount_by_pipe_type(pipe_type) - PipeStoreOutput.sum_amount_by_pipe_type(pipe_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= t('total_nominal_weight_of_stored_pipes') %>:<%= @total_pipe_weight.to_s + ' ' + t('kg', default: 'kg') %> </h2>

<hr>

<h1><%= t('raw_material_store') %></h1>

<table class="styled-table">
  <thead>
    <tr>
      <th><%= t('type', default: "Pipe Type") %></th>
      <th><%= t('amount', default: "Amount")  %> (<%= t('kg', default:"meter") %>)</th>
    </tr>
  </thead>

  <tbody>
    <% @raw_material_types.each do |raw_type| %>
      <tr>
        <td><%= raw_type.name %></td>
        <td><%= RawMaterialInput.sum_amount_by_raw_type(raw_type) - RawMaterialToProductionInput.sum_amount_by_raw_type(raw_type)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= t('total_nominal_weight_of_stored_raw') %>:<%= @total_raw_weight.to_s + ' ' + t('kg', default: 'kg') %> </h2>

<hr>

<h2><%= RawMaterialInput.all.sum(:amount).to_s + ' ' + t('kg', default: 'kg') %> -- <%= 'جمع مواد ورودی به کارخانه' %></h2>
<h2><%= TruckScaleOutput.all.sum(:amount).to_s + ' ' + t('kg', default: 'kg') %> -- <%= t('raw_truck_scale_sum') %></h2>
<h2><%= (RawMaterialInput.all.sum(:amount) -  TruckScaleOutput.all.sum(:amount)).to_s + ' ' + t('kg', default: 'kg') %> -- <%= 'جمع مواد واقعی موجود در کارخانه' %></h2>

<hr>

<h1><%= t('washer_store', default: "Washer Store") %></h1>

<table class="styled-table">
  <thead>
    <tr>
      <th><%= t('type', default: "Washer Type") %></th>
      <th><%= t('amount', default: "Amount")  %></th>
    </tr>
  </thead>

  <tbody>
    <% @washer_types.each do |washer_type| %>
      <tr>
        <td><%= washer_type.name %></td>
        <td><%= WasherInput.sum_amount_by_washer_type(washer_type) - WasherOutput.sum_amount_by_washer_type(washer_type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


