<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name', default: "Name") %>:</strong>
  <%= @user.name %> <br>
  <strong><%= t('email', default: "Email") %>:</strong>
  <%= @user.email %> <br>
  <strong><%= t('roles', default: "Roles") %>:</strong>
  <%= @user.roles %>
</p>

<%= link_to t('edit', default: "Edit"), edit_user_path(@user) %> |
<%= link_to t('back', default: "Back"), users_path %>

<hr>

<%= render :template => "users/_list_activity_logs", :locals => { :activity_logs => ActivityLog.where("user_id = ?", @user.id).order(created_at: :desc).first(50) } %>
