<%= form_with(model: washer_output) do |form| %>
  <% if washer_output.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(washer_output.errors.count, "error") %> prohibited this washer_output from being saved:</h2>

      <ul>
        <% washer_output.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :washer_type_id %>
    <%= form.text_field :washer_type_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
