<%= form_with(model: washer_output) do |form| %>
  <% if washer_output.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(washer_output.errors.count, "error") %> prohibited this washer_output from being saved:</h2>

      <ul>
        <% washer_output.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('type', default: 'Type') %>
    <%= form.collection_select :washer_type_id, WasherType.all.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label t('order', default: 'Type') %>
    <%= form.collection_select :order_id, Order.all.order(:name), :id, :name, :include_blank => true %>
  </div>

  <div class="field" style="display: none;">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id, readonly: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
