<p id="notice"><%= notice %></p>

<h1><%= t('washer_outputs') %></h1>

<%= link_to t('new_record'), new_washer_output_path %>

<table class='styled-table'>
  <thead>
    <tr>
      <th><%= t('type') %></th>
      <th><%= t('amount') %></th>
      <th><%= t('date') %></th>
      <th><%= t('order') %></th>
      <th><%= t('user') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @washer_outputs.each do |washer_output| %>
      <tr>
        <td><%= WasherType.find(washer_output.washer_type_id).name %></td>
        <td><%= washer_output.amount %></td>
        <td><%= washer_output.created_at.to_date.to_pdate %></td>
        <td><%= (washer_output.order_id == "" || washer_output.order_id == nil)? "-" : Order.find(washer_output.order_id).name
          %></td>
        <td><%= User.find(washer_output.user_id).name %></td>
        <td><%= link_to 'Show', washer_output %></td>
        <td><%= link_to 'Edit', edit_washer_output_path(washer_output) %></td>
        <td><%= link_to 'Destroy', washer_output, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


