<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('type') %></strong>
  <%= WasherType.find(@washer_output.washer_type_id).name %>
</p>

<p>
  <strong><%= t('count') %></strong>
  <%= @washer_output.amount %>
</p>

<p>
  <strong><%= t('order') %></strong>
  <%= @washer_output.order_id ? Order.find(@washer_output.order_id).name : "nil" %>
</p>

<p>
  <strong><%= t('user') %>:</strong>
  <%= User.find(@washer_output.user_id).name %>
</p>

<%= link_to t('edit'), edit_washer_output_path(@washer_output) %> |
<%= link_to t('back'), washer_outputs_path %>
