<p id="notice"><%= notice %></p>

<h1><%= t('customers', default: "Customers") %></h1>

<%= link_to t('new_customer', default: "New Customer"), new_customer_path %> <br>
<%= link_to t('orders', default: "Orders"), orders_path %>

<table class='styled-table'>
  <thead>
    <tr>
      <th><%= t('name', default: "Name") %></th>
      <th><%= t('phone', default: "Phone") %></th>
      <th><%= t('meta', default: "Meta") %></th>
      <th><%= t('user', default: "User") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.meta %></td>
        <td><%= User.find(customer.user_id).name %></td>
        <td><%= link_to t('show', default: "Show"), customer %></td>
        <td><%= link_to t('edit', default: "Edit"), edit_customer_path(customer) %></td>
        <td><%= link_to t('destroy', default: "Destroy"), customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


