<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t('customer') %>
    <%= form.collection_select :customer_id, Customer.all, :id, :name %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label t('meta') %>
    <%= form.text_field :meta %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
