<p id="notice"><%= notice %></p>

<h1><%= t('projects', default: "Projects") %></h1>

<%= link_to t('new_project', default: "New Project"), new_order_path %>

<table class="styled-table">
  <thead>
    <tr>
      <th><%= t('name', default: "Name")%></th>
      <th><%= t('customer', default: "Customer")%></th>
      <th><%= t('user', default: "User")%></th>
      <th><%= t('meta', default: "Meta")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= Customer.find(order.customer_id).name %></td>
        <td><%= User.find(order.user_id).name %></td>
        <td><%= order.meta %></td>
        <td><%= link_to t('show', default: "Show"), order %></td>
        <td><%= link_to t('edit', default: "Edit"), edit_order_path(order) %></td>
        <td><%= link_to t('destroy', default: "Destroy"), order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


