<p id="notice"><%= notice %></p>

<h1><%= t('project', default: "Project") %></h1>

<p>
  <strong><%= t('name', default: "Name") %>:</strong>
  <%= @order.name %>
</p>

<p>
  <strong><%= t('customer', default: "Customer") %>:</strong>
  <%= Customer.find(@order.customer_id).name %>
</p>

<p>
  <strong><%= t('user', default: "User") %>:</strong>
  <%= User.find(@order.user_id).name %>
</p>

<p>
  <strong><%= t('meta', default: "Meta") %>:</strong>
  <%= @order.meta %>
</p>

<%= link_to t('add_order_item', default: 'Add Order Item'), new_order_item_path %> |
<%= link_to t('edit', default: 'Edit'), edit_order_path(@order) %> |
<%= link_to t('back', default: 'Back'), orders_path %>
<hr>
<%= render :template => "order_items/_list_by_order_id", :locals => { :order_items => OrderItem.where("order_id = ?", @order.id) } %>
