<p id="notice"><%= notice %></p>

<p>
  <strong>Pipe type:</strong>
  <%= @pipe_store_input.pipe_type_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @pipe_store_input.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @pipe_store_input.user_id %>
</p>

<%= link_to 'Edit', edit_pipe_store_input_path(@pipe_store_input) %> |
<%= link_to 'Back', pipe_store_inputs_path %>
