<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('type') %>:</strong>
  <%= PipeType.find(@pipe_store_input.pipe_type_id).name %>
</p>

<p>
  <strong><%= t('meter') %>:</strong>
  <%= @pipe_store_input.amount %>
</p>

<p>
  <strong><%= t('user') %>:</strong>
  <%= User.find(@pipe_store_input.user_id).name %>
</p>

<%= link_to t('edit'), edit_pipe_store_input_path(@pipe_store_input) %> |
<%= link_to t('back'), pipe_store_inputs_path %>
