<%= form_with(model: pipe_type) do |form| %>
  <% if pipe_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pipe_type.errors.count, "error") %> prohibited this pipe_type from being saved:</h2>

      <ul>
        <% pipe_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: none">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label t('name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label t('weight') %>
    <%= form.text_field :weight %>
  </div>

  <div class="actions">
    <%= form.submit t('record') %>
  </div>
<% end %>
