<p id="notice"><%= notice %></p>

<h1><%= t('pipe_types', default: "Pipe Types") %></h1>

<%= link_to t('new_pipe_type', default: "New Pipe Type"), new_pipe_type_path %>

<table class="styled-table">
  <thead>
    <tr>
      <th><%= t('name', default: "Name") %></th>
      <th><%= t('mm', default: "mm") %></th>
      <th><%= t('user', default: "User") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pipe_types.each do |pipe_type| %>
      <tr>
        <td><%= pipe_type.name %></td>
        <td><%= pipe_type.size %></td>
        <td><%= User.find(pipe_type.user_id).name %></td>
        <td><%= link_to t('show'), pipe_type %></td>
        <td><%= link_to t('edit'), edit_pipe_type_path(pipe_type) %></td>
        <td><%= link_to t('destroy'), pipe_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


