<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('user') %>:</strong>
  <%= User.find(@pipe_type.user_id).name %>
</p>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @pipe_type.name %>
</p>

<p>
  <strong><%= t('weight') %>:</strong>
  <%= @pipe_type.weight %>
</p>

<%= link_to t('edit'), edit_pipe_type_path(@pipe_type) %> |
<%= link_to t('back'), pipe_types_path %>
