<p id="notice"><%= notice %></p>

<p>
  <strong>Raw material type:</strong>
  <%= @raw_material_input.raw_material_type_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @raw_material_input.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @raw_material_input.user_id %>
</p>

<%= link_to 'Edit', edit_raw_material_input_path(@raw_material_input) %> |
<%= link_to 'Back', raw_material_inputs_path %>
