<!DOCTYPE html>

<html dir="rtl">

  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%#
    <%= link_to "EN", change_to_en_path %> 
    <%# 
    <%= link_to "FA", change_to_fa_path %> 


    <% if logged_in? -%>
    <%= link_to t('logout', default: "Logout"), :logout, :style => 'float: right' %>
    <%= link_to current_user.name, root_path, :style => 'float: left'  %>
    <% end %>
    <br>

    <hr>
    <%= yield %>
  </body>
</html>
