<!DOCTYPE html>

<html>

  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "EN", change_to_en_path %> |
    <%= link_to "FA", change_to_fa_path %> |

    <% if session[:user_id] -%>
    <%= link_to 'Logout', :logout %> |
    <% end -%>
    <% if logged_in? %>
      <%= current_user.name %>
    <% end %>

    <hr>
    <%= yield %>
  </body>
</html>
